.android
#.bash_history
.bash_logout
.bashrc
.cache
.compiz
.config
.credentials
.dbus
Desktop
.dl4j
.dmrc
Documents
#.dotfiles
Downloads
#.driverSRTTem
.eclipse
eclipse-workspace
.elinks
.emacs
.emacs~
.emacs.d
examples.desktop
.gconf
.general-configs
#.git
#.gitconfig
#.gitignore
.gitignore.swp
.gitkraken
.gnome2
.gnome2_private
.gnupg
.gphoto
.grandui
.ICEauthority
.IdeaIC2017.3
.initfiles
.install4j
.ivy2
.java
.javacpp
.lesshst
.local
.m2
mm@192.168.0.151
.mozilla
Music
.nano
nohup.out
.npm
.nutch
.oh-my-zsh
.oracle_jre_usage
Other
.p2
.pax
.pdfbox.cache
Pictures
.pki
.profile
Projects
Public
.remmina
.selected_editor
share
.ssh
.subversion
.sudo_as_admin_successful
.swp
.swt
Templates
tmp
#.tmux
tmux-client-*.log
#.tmux.conf
.tooling
Tools
ubuntu-files
.unidata
Videos
#.vim
.viminfo
#.vimrc
#.vrapperrc
.w3m
.wget-hsts
WorkSpace
.Xauthority
.xinputrc
.xsession-errors
.xsession-errors.old
.yEd
.zcompdump
.zcompdump-ubuntu-5.1.1
.zsh_history
.zsh_history_bad
#.zshrc
